<mat-toolbar color="primary">

  <button mat-button fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

  <!-- <button mat-button routerLink="/"></button> -->

  <span class="fill-remaining-space"></span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm class="center">
      <button mat-button routerLink="/products">Products</button>
      <button mat-button routerLink="/dashboard">Dashboard</button>

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
  </div>

  <span class="fill-remaining-space"></span>

  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">account_circle</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">shopping_cart</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">login</mat-icon>

</mat-toolbar>