<ul class="metismenu mt-0 color" id="menu">
    <li class="pt-0 mt-0 text-center">ADMIN SETUP</li>
    <hr>
    <li>
        <a href="javascript:;" (click)="users()" style="color: #fff;">
            <div class="parent-icon"><i class='bx bx-user'></i>
            </div>
            <div class="menu-title">{{'aside.users' | translate}}</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" (click)="products()" style="color: #fff;">
            <div class="parent-icon"><i class="bx bx-basket"></i>
            </div>
            <div class="menu-title">{{'aside.products' | translate}}</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" (click)="orders()" style="color: #fff;">
            <div class="parent-icon"><i class="bx bx-file"></i>
            </div>
            <div class="menu-title">{{'aside.orders' | translate}}</div>
        </a>
    </li>

    <li>
        <a href="javascript:;" (click)="categories()" style="color: #fff;">
            <div class="parent-icon"><i class="bx bx-archive"></i>
            </div>
            <div class="menu-title">{{'aside.categories' | translate}}</div>
        </a>
    </li>
</ul>