<ul class="metismenu mt-0" id="menu">
    <li class="menu-label pt-0 mt-0">Setup</li>
    <li>
        <a href="javascript:;" (click)="users()">
            <div class="parent-icon"><i class='bx bx-home-circle'></i>
            </div>
            <div class="menu-title">Users</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="active" (click)="products()">
            <div class="parent-icon"><i class="bx bx-category"></i>
            </div>
            <div class="menu-title">Products</div>
        </a>
    </li>
    <li class="menu-label">UI Elements</li>
    <li>
        <a href="javascript:;">
            <div class="parent-icon"><i class='bx bx-cookie'></i>
            </div>
            <div class="menu-title">Widgets</div>
        </a>
    </li>
</ul>