<ul class="metismenu mt-0" id="menu">
    <li class="menu-label pt-0 mt-0">Setup</li>
    <li>
        <a href="javascript:;" (click)="users()">
            <div class="parent-icon"><i class='bx bx-user'></i>
            </div>
            <div class="menu-title">Users</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" (click)="products()">
            <div class="parent-icon"><i class="bx bx-basket"></i>
            </div>
            <div class="menu-title">Products</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" (click)="orders()">
            <div class="parent-icon"><i class="bx bx-file"></i>
            </div>
            <div class="menu-title">Orders</div>
        </a>
    </li>
</ul>