<!-- offcanvas-overlay start -->
<div class="offcanvas-overlay" id="overlay" style="display: none;"></div>

<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist theme1">
    <div class="inner">
        <div class="head d-flex flex-wrap justify-content-between">
            <span class="title">{{ 'nav.wishlist' | translate }}</span>
            <button class="offcanvas-close" (click)="hideWishlist()">×</button>
        </div>
        <p *ngIf="!products$?.length" class="text-center">{{ 'nav.wishlistEmpty' | translate }}</p>
        <ul class="minicart-product-list">
            <li *ngFor="let product of products$">
                <a [routerLink]="['/product/' + product?.id]" class="image" (click)="hideWishlist()">
                    <img [src]="product?.previewUrl">
                </a>
                <div class="content">
                    <a [routerLink]="['/product/' + product?.id]" (click)="hideWishlist()" class="title">{{product.name}}</a>
                    <span class="quantity-price"><span class="amount">€ {{product.price}}</span></span>
                    <a href="javascript:" class="remove" (click)="removeWishList(product.id)">×</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- OffCanvas Wishlist End -->

<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart theme1" >
    <div class="inner">
        <div class="head d-flex flex-wrap justify-content-between">
            <span class="title">{{ 'nav.cart' | translate }}</span>
            <button class="offcanvas-close" (click)="hideCart()">×</button>
        </div>
        <p *ngIf="!products$?.length" class="text-center">{{ 'nav.cartEmpty' | translate }}</p>
        <ul class="minicart-product-list">
            <li *ngFor="let product of products$">
                <a [routerLink]="['/product/' + product?.id]" class="image" (click)="hideCart()">
                    <img [src]="product?.previewUrl">
                </a>
                <div class="content">
                    <a [routerLink]="['/product/' + product?.id]" (click)="hideCart()" class="title">{{product.name}}</a>
                    <span class="quantity-price">{{prodCart[product.id].quantity}} x <span class="amount">€ {{product.price}}</span></span>
                    <a href="javascript:" class="remove" (click)="removeCart(product.id)">×</a>
                </div>
            </li>
        </ul>
        
        <div class="sub-total d-flex flex-wrap justify-content-between" *ngIf="products$?.length">
            <strong>{{ 'nav.sub' | translate }} :</strong>
            <span class="amount">€ {{subTotal}}</span>
        </div>
        <div class="text-center" *ngIf="products$?.length">
            <a [routerLink]="['/checkout']" (click)="hideCart()" class="btn theme-btn--dark1 btn--lg d-block d-sm-inline-block mt-4 mt-sm-0 rounded-5">{{ 'nav.checkout' | translate }}</a>
        </div>
    </div>
</div>
<!-- OffCanvas Cart End -->

<!-- header start -->
<header>
    <!-- header top start -->
    <div class="header-top theme1 bg-dark py-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-last order-md-first">
                    <div class="static-info text-center text-md-left">
                        <p class="text-white">
                            <span class="theme-color">M</span>aster Mobile e 
                            <span class="theme-color">W</span>eb 
                            <span class="theme-color">T</span>echnologies 2021
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <nav class="navbar-top pb-2 pb-md-0 position-relative">
                        <ul class="d-flex justify-content-center justify-content-md-end align-items-center">
                            <li class="english">
                                <a  id="dropdown3" class="pr-0" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <img src={{currLanguage.flag}} alt="us flag" width="20" height="15">{{currLanguage.acronym}}
                                    <i class="ion ion-ios-arrow-down"></i>
                                </a>
                                <ul class="topnav-submenu dropdown-menu" aria-labelledby="dropdown3">
                                    <li *ngFor="let lang of Object.keys(languages)" (click)="changeLanguage(lang)">
                                        <a ><img src="{{languages[lang].flag}}" width="20" height="15">{{languages[lang].acronym}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="pl-3">
                                <a *ngIf="isAuthenticated()" href="#" title="Logout" (click)="logout()" aria-haspopup="true"
                                    aria-expanded="false"><i class="icon-logout"></i>
                                </a>
                                <a *ngIf="!isAuthenticated()" href="/login" title="Login" aria-haspopup="true"
                                    aria-expanded="false"><i class="icon-login"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->
    <!-- header-middle satrt -->
    <div class="header-middle pt-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-2 order-first">
                    <div class="logo text-center text-sm-left mb-30 mb-sm-0">
                        <a href="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 col-xl-4">
                    <!-- search-form end -->
                    <div class="d-flex align-items-center justify-content-center justify-content-sm-end">
                        <!-- static-media end -->
                        <div class="cart-block-links theme1">
                            <ul class="main-menu d-flex">
                                <li>
                                    <a class="offcanvas-toggle" href="javascript:" (click)="showWishlist()">
                                        <span class="position-relative" title="{{ 'nav.wishlist' | translate }}">
                                            <i class="icon-heart"></i>
                                            <span *ngIf="prodWishlist.length" class="badge cbdg1">{{prodWishlist.length}}</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="cart-block position-relative">
                                    <a class="offcanvas-toggle" href="javascript:" (click)="showCart()">
                                        <span class="position-relative" title="{{ 'nav.cart' | translate }}">
                                            <i class="icon-bag"></i>
                                            <span *ngIf="Object.keys(prodCart).length" class="badge cbdg1">{{Object.keys(prodCart).length}}</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="cart-block position-relative">
                                    <a class="offcanvas-toggle" href="/profile">
                                        <span class="position-relative" title="{{ 'nav.profile' | translate }}">
                                            <i class="icon-user"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="cart-block position-relative" *ngIf="isAdmin">
                                    <a class="offcanvas-toggle" href="/admin">
                                        <span class="position-relative" title="{{ 'nav.admin' | translate }}">
                                            <i class="icon-home"></i>
                                        </span>
                                    </a>
                                </li>
                                
                                <!-- cart block end -->
                            </ul>
                        </div>
                        <div class="mobile-menu-toggle theme1 d-lg-none">
                            <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                <i class="icon-menu fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 order-lg-first">
                    <nav id="sticky" class="header-bottom theme1 d-none d-lg-block">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-10 offset-lg-3 d-flex flex-wrap align-items-center position-relative">
                                    <ul class="main-menu d-flex">
                                        <app-mega-menu [gender]="'M'"></app-mega-menu>
                                        <app-mega-menu [gender]="'F'"></app-mega-menu>
                                        <app-mega-menu [gender]="'K'"></app-mega-menu>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
