<div class="page-content p-0">
    <div class="card">
        <div class="card-body">
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <h3 class="pl-5 color">
                    <i *ngIf="!currentTab || currentTab === 'users'" class='bx bx-user mr-5 ml-5'></i> 
                    <i *ngIf="currentTab === 'products'" class='bx bx-basket mr-5 ml-5'></i> 
                    <i *ngIf="currentTab === 'orders'" class='bx bx-file mr-5 ml-5'></i> 
                    <i *ngIf="currentTab === 'categories'" class='bx bx-archive mr-5 ml-5'></i> 
                    {{title}}
                </h3>
                <div class="ms-auto" *ngIf="buttonForm">
                    <div class="col">
                        <div class="d-lg-flex align-items-center gap-3">
                            <div class="ms-auto"><button (click)="addProduct()" class="btn theme-btn--dark1 btn--md px-2 float-right"><i class="fa fa-plus-square" aria-hidden="true"></i>{{buttonLabel}}</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="card body-color">
                <div class="card-body">

                    <div *ngIf="!openForm" class="table-responsive overflow-hidden">
                        <table id="dataTable" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th *ngFor="let field of fields">{{ field }}</th>
                                </tr>
                            </thead>
                            <!-- Users -->
                            <tbody *ngIf="!currentTab || currentTab === 'users'">
                                <tr *ngFor="let user of userRegistries$ | async">
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.role}}</td>
                                    <td>{{user.registry?.name}}</td>
                                    <td>{{user.registry?.surname}}</td>
                                    <td>{{user.registry?.phone}}</td>
                                    <td>{{user.registry?.street}}, {{user.registry?.postal_code}}, {{user.registry?.city}}, {{user.registry?.county}}, {{user.registry?.state}}</td>
                                </tr>
                            </tbody>

                            <!-- Products -->
                            <tbody *ngIf="currentTab === 'products'">
                                <tr *ngFor="let product of products$ | async">
                                    <td>{{product.name}}</td>
                                    <td>{{product.type}}</td>
                                    <td>{{product.sub_type}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.gender}}</td>
                                    <td>{{getSizes(product.size_available, product.gender, product.type)}}</td>
                                    <td>{{product.color}}</td>
                                    <td>{{product.material}}</td>
                                    <td>{{product.collection}}</td>
                                    <td class="text-center"><a href="javascript:" (click)="deleteProduct(product.id)" title="Delete"><i class='fa fa-trash'></i></a></td>
                                    <td class="text-center"><a href="javascript:" (click)="updateProduct(product)" title="Edit"><i class='fa fa-edit'></i></a></td>
                                </tr>
                            </tbody>

                            <!-- Orders -->
                            <tbody *ngIf="currentTab === 'orders'">
                                <tr *ngFor="let order of orders$ | async">
                                    <td>{{order.code}}</td>
                                    <td>{{order.status}}</td>
                                    <td>{{order.items?.length}}</td>
                                    <td>
                                        <div class="accordion" id="accordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                  <button class="accordion-button collapsed detail" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + order.code" aria-expanded="false">
                                                    {{'table.orders.details' | translate}} - {{order.code}}
                                                  </button>
                                                </h2>
                                                <div [id]="order.code" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                  <div class="accordion-body card m-0 body-color">
                                                    <table id="dataTable" class="table table-striped table-bordered table-secondary" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>{{'table.orders.code' | translate}}</th>
                                                                <th>{{'table.orders.size' | translate}}</th>
                                                                <th>{{'table.orders.quantity' | translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of order.items">
                                                                <th>{{item.code}}</th>
                                                                <th>{{item.size}}</th>
                                                                <th>{{item.quantity}}</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <!-- Categories -->
                            <tbody *ngIf="currentTab === 'categories'">
                                <tr *ngFor="let category of categories$ | async">
                                    <td class="text-capitalize align-middle">
                                        <div class="input-group m-0 p-0" hidden [id]="category.id" #typeDiv>
                                            <input type="text" class="form-control p-0 m-0 text-capitalize" [id]="category.id" [value]="category.type_name"  #typeInput placeholder="Type name...">
                                            <div class="input-group-append">
                                                <span><button class="btn btn-outline-secondary theme-btn--light1 btn--sm float-right mx-2" (click)="showLabel(category.id)" type="button">Cancel</button></span>
                                                <span><button class="btn btn-outline-secondary theme-btn--dark1 btn--sm float-right" (click)="updateCategoryName(category)" type="button">Update</button></span>
                                            </div>
                                        </div>
                                        <div [id]="category.id" #typeLabel>
                                            <a href="javascript:" title="Edit" (click)="showInput(category.id)"><i class='fa fa-edit mr-5'></i></a>
                                            {{category.type_name}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="accordion" id="accordion">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                  <button class="accordion-button collapsed detail" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + category.type_name" aria-expanded="false">
                                                    {{'table.categories.details' | translate}} - <span class="text-capitalize">&nbsp;{{category.type_name}}</span>
                                                  </button>
                                                </h2>
                                                <div [id]="category.type_name" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                                  <div class="accordion-body card m-2 body-color">
                                                    <table id="dataTable" class="table table-striped table-bordered" style="width:100%;">
                                                        <tbody>
                                                            <tr *ngFor="let item of category.sub_types?.split(';')">
                                                                <td class="text-capitalize">{{item}}</td>
                                                                <td class="text-center"><a href="javascript:" (click)="deleteSubCategory(category, item)" title="Edit"><i class='fa fa-trash'></i></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="input-group m-0 p-0">
                                                                        <input #subCategoriesInputs type="text" class="form-control p-0 m-0" [id]="category.id">
                                                                        <div class="input-group-append">
                                                                            <span><button class="btn btn-outline-secondary theme-btn--dark1 btn--sm float-right mx-2" type="button" (click)="addSubCategory(category)">Add Sub Category</button></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
 
                    <app-product-form *ngIf="openForm" (productEvent)="productEventHandler($event)" [product]="productToUpdate"></app-product-form>
                </div>
            </div>

        </div>
    </div>
</div>