.detail[aria-expanded="true"]{
    color: #f33535;
}
.accordion-button:focus {
    border-color: #f33535;
    box-shadow: none;
}
.card{
    background-color: #323248;
    border-radius: 2rem;
}
.color{
    color: #fff;
}
.body-color{
    background-color: white;
    border-radius: 0;
}