<!--wrapper-->
<div class="wrapper bg-login">
    <div class="d-flex justify-content-center">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 mt-30">
                <div class="col mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="border p-4 rounded">
                                <div class="text-center">
                                    <h3 class="">{{"login.title" | translate}}</h3>
                                    <p>{{"login.noAccount" | translate}}<a href="/registration">{{"login.here" | translate}}</a>
                                    </p>
                                </div>
                                <div class="d-grid">
                                    <a class="btn my-4 shadow-sm btn-white" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
                                    <img class="me-2" src="assets/img/icons/search.svg" width="16" alt="Image Description">
                                    <span>{{"login.google" | translate}}</span>
                                        </span>
                                    </a> <a href="javascript:;" class="btn btn-white"><i class="bx bxl-facebook"></i>{{"login.facebook" | translate}}</a>
                                </div>
                                <div class="login-separater text-center mb-4"> <span>{{"login.title" | translate}}</span>
                                    <hr/>
                                </div>
                                <div>
                                    <p *ngIf="unauthorised" class="mb-3 text-danger">{{"login.unauthorised" | translate}}</p>
                                </div>
                                <div class="form-body">
                                    <form class="row g-3" #loginForm="ngForm" (ngSubmit)="login()">
                                        <div class="col-12">
                                            <label for="inputEmailAddress" class="form-label">{{"login.email" | translate}}</label>
                                            <input type="email" class="form-control" id="inputEmailAddress" placeholder="{{'login.email' | translate}}"
                                                    [(ngModel)]="loginData.email" name="email" #email="ngModel" required>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputChoosePassword" class="form-label">{{"login.password" | translate}}</label>
                                            <div class="input-group" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" id="inputChoosePassword" placeholder="{{'login.password' | translate}}"
                                                [(ngModel)]="loginData.password" name="password" #password="ngModel" required> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input custom-check" type="checkbox" id="flexSwitchCheckChecked" checked>
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{"login.remember" | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-end">	<a href="authentication-forgot-password.html">{{"login.forgot" | translate}}</a>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-danger" [disabled]="!loginForm.valid"><i class="bx bxs-lock-open"></i>{{"login.title" | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>