<div class="wrapper bg-login">
    <div class="d-flex align-items-center justify-content-center my-5 my-lg-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                <div class="col mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="border p-4 rounded">
                                <div class="text-center">
                                    <h3 class="">{{ "registration.title" | translate }}</h3>
                                    <p>{{ "registration.alredyRegister" | translate }}<a href="/login">{{ "registration.here" | translate }}</a></p>
                                </div>
                                <div class="d-grid">
                                    <a class="btn my-4 shadow-sm btn-white" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
                                        <img class="me-2" src="assets/img/icons/search.svg" width="16" alt="Image Description">
                                        <span>{{ "registration.google" | translate }}</span>
                                        </span>
                                    </a> <a href="javascript:;" class="btn btn-white"><i class="bx bxl-facebook"></i>{{ "registration.facebook" | translate }}</a>
                                </div>
                                <div class="login-separater text-center mb-4"> <span>{{ "registration.title" | translate }}</span>
                                    <hr/>
                                </div>
                                <div *ngIf="conflictError" class="text-center text-danger mb-2"><span>{{ "registration.error" | translate }}</span></div>

                                <div class="form-body">
                                    <form class="row g-3" [formGroup]="registerForm" (ngSubmit)="register()">
                                        <div class="col-sm-12">
                                            <label for="inputFirstName" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="inputFirstName" placeholder="Username" 
                                                formControlName="name" required>
                                            <div class="alert alert-danger" role="alert" 
                                                *ngIf="!registerForm.get('name')?.valid && registerForm.get('name')?.dirty">
                                                {{"registration.validation.username" | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputEmailAddress" class="form-label">{{"registration.email" | translate}}</label>
                                            <input type="email" class="form-control" id="inputEmailAddress" placeholder="example@user.com"
                                                formControlName="email" required>
                                            <div class="alert alert-danger" role="alert" 
                                                *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.dirty">
                                                {{"registration.validation.email" | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputChoosePassword" class="form-label">Password</label>
                                            <div class="input-group" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" id="inputChoosePassword" placeholder="Password"
                                                    formControlName="password" required> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                            </div>
                                            <div class="alert alert-danger" role="alert" 
                                                    *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.dirty">
                                                    {{"registration.validation.password" | translate}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input custom-check" type="checkbox" id="flexSwitchCheckChecked" formControlName="terms" required>
                                                <label class="form-check-label" for="flexSwitchCheckChecked">{{"registration.terms" | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-danger" [disabled]="!registerForm.valid"><i class='bx bx-user'></i>{{"registration.signUp" | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
</div>