<!-- breadcrumb-section end -->
<!-- product tab start -->
<div class="product-tab bg-white pt-20 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-30">
                <div class="tab-content" id="pills-tabContent">
                    <!-- first tab-pane -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row grid-view theme1">
                            <div class="grid-nav-wraper bg-lighten2 mb-30">
                                <div class="row align-items-center">
                                    <h5 *ngIf="gender=='M'" class="sub-title">Men</h5>
                                    <h5 *ngIf="gender=='F'" class="sub-title">Women</h5>
                                    <h5 *ngIf="gender=='K'" class="sub-title">Kids</h5>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 mb-30">

                                <!-- {{ products$ | async | json }} -->

                                <div class="card product-card" *ngFor="let product of products$ | async">
                                    <div class="card-body">
                                        <div class="product-thumbnail position-relative">
                                            <a [href]="product?.url">
                                                <img class="first-img" [src]="product?.preview" alt="thumbnail">
                                            </a>
                                            <!-- product links -->
                                            <ul class="product-links d-flex justify-content-center">
                                                <li>
                                                    <a href="javascript::">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                            title="add to wishlist" class="icon-heart"> </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a [href]="product?.url" data-toggle="modal" data-target="#quick-view">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                            title="Quick view" class="icon-magnifier"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- product links end-->
                                        </div>
                                        <div class="product-desc py-0">
                                            <h3 class="title"><a [href]="product?.url">{{product?.name}}</a></h3>
                                            <div class="star-rating">
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-ios-star"></span>
                                                <span class="ion-ios-star de-selected"></span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h6 class="product-price">€{{product?.price}}</h6>
                                                <button class="pro-btn" data-toggle="modal"
                                                    data-target="#add-to-cart"><i class="icon-basket"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- product-list End -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <nav class="pagination-section mt-30">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="ion-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div> -->
            </div>

            <div class="col-lg-3 mb-30 order-lg-first">
                <aside class="left-sidebar theme1">
                    <div class="search-filter">
                        <div class="check-box-inner pt-0">
                            <h4 class="title">Filter By</h4>
                            <h4 class="sub-title pt-10">Categories</h4>

                            <div *ngIf="type=='shoes'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="lifestyle" [checked]="subtype=='lifestyle'" (click)="filter()">
                                    <label for="lifestyle">{{ "nav.shoes.lifestyle" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="running" [checked]="subtype=='running'" (click)="filter()">
                                    <label for="running">{{ "nav.shoes.running" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box" >
                                    <input type="checkbox" id="tennis" [checked]="subtype=='tennis'" (click)="filter()">
                                    <label for="tennis">{{ "nav.shoes.tennis" | translate }} <span>(13)</span></label>
                                </div>
                            </div>

                            <div *ngIf="type=='clothing'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="top" [checked]="subtype=='top'" (click)="filter()">
                                    <label for="top">{{ "nav.clothing.top" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="pants" [checked]="subtype=='pants'" (click)="filter()">
                                    <label for="pants">{{ "nav.clothing.pants" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="shorts" [checked]="subtype=='shorts'" (click)="filter()">
                                    <label for="shorts">{{ "nav.clothing.shorts" | translate }} <span>(13)</span></label>
                                </div>
                            </div>

                            <div *ngIf="type=='accessories'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="bags" [checked]="subtype=='bags'" (click)="filter()">
                                    <label for="bags">{{ "nav.accessories.bags" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="hats" [checked]="subtype=='hats'" (click)="filter()">
                                    <label for="hats">{{ "nav.accessories.hats" | translate }} <span>(13)</span></label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="watches" [checked]="subtype=='watches'" (click)="filter()">
                                    <label for="watches">{{ "nav.accessories.watches" | translate }} <span>(13)</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="check-box-inner mt-10">
                            <h4 class="sub-title">price</h4>
                            <div class="filter-check-box">
                                <input type="checkbox" id="20" (click)="filter()">
                                <label for="20">€25 - €50 <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="50" (click)="filter()">
                                <label for="50">€50 - €100 <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="100" (click)="filter()">
                                <label for="100">€100 - €150 <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="150" (click)="filter()">
                                <label for="150">Over €150 <span>(2)</span></label>
                            </div>
                        </div>
                        
                        <div class="check-box-inner mt-10">
                            <h4 class="sub-title">Size</h4>
                            <div class="filter-check-box">
                                <input type="checkbox" id="s" (click)="filter()">
                                <label for="s">s <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="m" (click)="filter()">
                                <label for="m">m <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="l" (click)="filter()">
                                <label for="l">l <span>(2)</span></label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="xl" (click)="filter()">
                                <label for="xl">xl <span>(2)</span></label>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>