<!-- breadcrumb-section end -->
<!-- product tab start -->
<div class="product-tab bg-white pt-20 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mb-30">
                <div class="tab-content" id="pills-tabContent">
                    <!-- first tab-pane -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row grid-view theme1">
                            <div class="grid-nav-wraper bg-lighten2 mb-30">
                                <div class="row align-items-center">
                                    <h5 *ngIf="gender=='M'" class="sub-title text-capitalize">{{ 'nav.men' | translate }} / {{type}}</h5>
                                    <h5 *ngIf="gender=='F'" class="sub-title text-capitalize">{{ 'nav.women' | translate }} / {{type}}</h5>
                                    <h5 *ngIf="gender=='K'" class="sub-title text-capitalize">{{ 'nav.kids' | translate }} / {{type}}</h5>

                                    <!-- <h5 *ngIf="gender=='M'" class="sub-title">{{ 'nav.men' | translate }} / {{ 'nav.' + type + '.title' | translate }}</h5>
                                    <h5 *ngIf="gender=='F'" class="sub-title">{{ 'nav.women' | translate }} / {{ 'nav.' + type + '.title' | translate }}</h5>
                                    <h5 *ngIf="gender=='K'" class="sub-title">{{ 'nav.kids' | translate }} / {{ 'nav.' + type + '.title' | translate }}</h5> -->
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3 mb-10" *ngFor="let product of products$ | async">
                                <div class="card product-card " >
                                    <div class="card-body">
                                        <div class="product-thumbnail position-relative">
                                            <a [routerLink]="['/product/' + product?.id]">
                                                <img class="first-img" [src]="product?.preview" alt="thumbnail">
                                            </a>
                                            <!-- product links -->
                                            <ul class="product-links d-flex justify-content-center">
                                                <li>
                                                    <a href="javascript::" (click)="wishlist(product.id)">
                                                        <span [style.color]="prodWishlist.includes(product.id) ? 'red' : ''" data-toggle="tooltip" data-placement="bottom" title="add to wishlist" class="fa fa-heart"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['/product/' + product?.id]" data-toggle="modal">
                                                        <span data-toggle="tooltip" data-placement="bottom"
                                                            title="Quick view" class="icon-magnifier"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- product links end-->
                                        </div>
                                        <div class="product-desc py-0">
                                            <h3 class="title pt-20"><a [routerLink]="['/product/' + product?.id]">{{product?.name}}</a></h3>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h6 class="product-price">€{{product?.price}}</h6>
                                                <button class="pro-btn" data-toggle="modal" data-target="#add-to-cart" (click)="cart(product?.id)"><i class="icon-basket"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 mb-30 order-lg-first">
                <aside class="left-sidebar theme1 ml-30">
                    <div class="search-filter">
                        <div class="check-box-inner pt-0">
                            <h4 class="title">{{ "nav.filter" | translate }}</h4>
                            <h4 class="sub-title pt-10">{{ "nav.cat" | translate }}</h4>

                            <div *ngFor="let cat_type of (category$ | async)?.sub_types?.split(';')" class="filter-check-box">
                                <input type="checkbox" [id]="cat_type" name="subtype" [checked]="subtype==cat_type" (click)="filter($event)">
                                <label [for]="cat_type">{{ cat_type }} </label>
                            </div>
                            
                            <!-- <div *ngIf="type=='shoes'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="lifestyle" name="subtype" [checked]="subtype=='lifestyle'" (click)="filter($event)">
                                    <label for="lifestyle">{{ "nav.shoes.lifestyle" | translate }} </label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="running" name="subtype" [checked]="subtype=='running'" (click)="filter($event)">
                                    <label for="running">{{ "nav.shoes.running" | translate }} </label>
                                </div>
                                <div class="filter-check-box" >
                                    <input type="checkbox" id="tennis" name="subtype" [checked]="subtype=='tennis'" (click)="filter($event)">
                                    <label for="tennis">{{ "nav.shoes.tennis" | translate }} </label>
                                </div>
                            </div>

                            <div *ngIf="type=='clothing'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="top" name="subtype" [checked]="subtype=='top'" (click)="filter($event)">
                                    <label for="top">{{ "nav.clothing.top" | translate }} </label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="pants" name="subtype" [checked]="subtype=='pants'" (click)="filter($event)">
                                    <label for="pants">{{ "nav.clothing.pants" | translate }} </label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="shorts" name="subtype" [checked]="subtype=='shorts'" (click)="filter($event)">
                                    <label for="shorts">{{ "nav.clothing.shorts" | translate }} </label>
                                </div>
                            </div>

                            <div *ngIf="type=='accessories'">
                                <div class="filter-check-box">
                                    <input type="checkbox" id="bags" name="subtype" [checked]="subtype=='bags'" (click)="filter($event)">
                                    <label for="bags">{{ "nav.accessories.bags" | translate }} </label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="hats" name="subtype" [checked]="subtype=='hats'" (click)="filter($event)">
                                    <label for="hats">{{ "nav.accessories.hats" | translate }} </label>
                                </div>
                                <div class="filter-check-box">
                                    <input type="checkbox" id="watches" name="subtype" [checked]="subtype=='watches'" (click)="filter($event)">
                                    <label for="watches">{{ "nav.accessories.watches" | translate }} </label>
                                </div>
                            </div> -->
                        </div>

                        <div class="check-box-inner mt-10">
                            <h4 class="sub-title">{{ "product.price" | translate }}</h4>
                            <div class="filter-check-box">
                                <input type="checkbox" id="20" name="price" (click)="filter($event)">
                                <label for="20">€25 - €50 </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="50" name="price" (click)="filter($event)">
                                <label for="50">€50 - €100 </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="100" name="price" (click)="filter($event)">
                                <label for="100">€100 - €150 </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="150" name="price" (click)="filter($event)">
                                <label for="150">{{ "product.over" | translate }} €150 </label>
                            </div>
                        </div>
                        
                        <div class="check-box-inner mt-10">
                            <h4 class="sub-title">{{ "product.size" | translate }}</h4>
                            <div class="filter-check-box">
                                <input type="checkbox" id="S" name="size" (click)="filter($event)">
                                <label for="S">{{sizeSLabel}} </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="M" name="size" (click)="filter($event)">
                                <label for="M">{{sizeMLabel}} </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="L" name="size" (click)="filter($event)">
                                <label for="L">{{sizeLLabel}} </label>
                            </div>
                            <div class="filter-check-box">
                                <input type="checkbox" id="XL" name="size" (click)="filter($event)">
                                <label for="XL">{{sizeXLLabel}} </label>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>